@model PagedList.IPagedList<Model.EF.Bill>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Script_footer{
    <script src="~/Assets/admin/js/JSBillController.js"></script>
}

@section header{
    <h1>Quản lý hóa đơn</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        <li><a href="/Admin/Product">Hóa đơn</a></li>
        <li class="active">Danh sách hóa đơn</li>
    </ol>
}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    <h3 class="box-title">Danh sách hóa đơn</h3>
                    @using (Html.BeginForm("Index", "Bill", FormMethod.Get))
                    {
                        <div class="box-tools pull-right">
                            <div class="input-group input-group-sm col-md-4 pull-right col-xs-offset-1">
                                <input type="text" class="form-control pull-right" value="@ViewBag.SearchString" name="searchString" placeholder="Tìm kiếm" />
                                <div class="input-group-btn">
                                    <button type="submit" id="btn-search" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="/Admin/Product/Create" class="btn btn-info btn-sm"> <i class="fa  fa-plus"></i> Thêm mới</a>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>
                                Mã hóa đơn
                            </th>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Địa chỉ nhận hàng
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Tổng thanh toán
                            </th>
                            
                            <th>
                                Thời gian tạo
                            </th>
                            <th>
                                Thời gian sửa
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>
                                <td>
                                    
                                    @Html.ActionLink("Details", "Details", new { id = item.BillID }) |
                                    <a href="#" data-id="@item.BillID " class="btn-delete">Xóa</a>
                                </td>
                            </tr>
                        }

                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Tổng hóa đơn: <span id="totalRows">@Model.Count()</span></p>
                        </div>
                        <div class="col-xs-6"><ul id="pagination" class=" pagination-sm no-margin pull-right"></ul></div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
        <!-- /.box -->
    </div>