@model PagedList.IPagedList<Model.EF.Category>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh mục</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<div>
    <table class="table">
        <tr>
            <th>
                Tên danh mục
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th>
                Công cụ
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="row_@item.CateID">
                <td>
                    @Html.DisplayFor(modelItem => item.CateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Ajax.ActionLink("Xóa", "Delete",new { @id=item.CateID},new AjaxOptions
               {
                   Confirm="Bạn có muốn xóa bản ghi này?",
                   OnComplete= "$('row_"+@item.CateID+"').remove()",
                   HttpMethod="Delete"
               })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>