@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedProduct = (List<Model.EF.Product>)ViewBag.Relateproduct;
}
@section jsFooter{
    <script src="/Assets/display/js/controller/cartController.js"></script>
}
<section class="shop shop-cart bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12  col-md-9">
                <div class="content_top">
                    <div>
                        <p><a href="/san-pham/@Model.ProdID">@Model.ProdName</a></p>
                    </div>
                </div>
                <!-- Alert Message -->
                <div class="alerts">
                    <div class="alert-icon">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="alert-content">
                        <h4>Item Was Successfully Added To Your Cart.</h4>
                        <p>@Model.Decription</p>
                    </div>
                </div>
                <!-- .aret end -->

                <div class="product-img mb-50">
                    <img class="img-responsive" src="~/Assets/Data/Images/images/@Model.ImageUrl" alt="product image">
                </div>
                <!-- .product-img end -->
                <div class="product-title">
                    <h6>@Model.ProdName</h6>
                </div>
                <!-- .product-title end -->
                <div class="product-meta mb-30">
                    <p>
                        Giá:   @String.Format(System.Globalization.CultureInfo.InvariantCulture,
"{0:#,#}", Model.Cost) VNĐ
                    </p>
                </div>
                <div class="product-desc">
                    <div><p>@Model.Decription</p></div>
                </div>
                <!-- .product-desc end -->
                <!-- .product-details end -->
                @using (Html.BeginForm("Detail", "Product", FormMethod.Post))
                {
                    <div class="product-action clearfix">
                        <div class="product-quantity pull-left pull-none-xs">
                            <span class="qua">Số lượng</span>
                            <span>
                                <a href="#" class="minus"><i class="fa fa-minus"></i></a>
                                <input type="text" value="1" id="pro-qunt" name="sl" />
                                <a href="#" class="plus"><i class="fa fa-plus"></i></a>
                                <input type="hidden" value="@Model.ProdID" id="pro-qunt" name="prodId" />
                            </span>
                        </div>
                        <div class="product-cta text-right text-center-xs">
                            <button type="submit" class="btn btn--primary btn--rounded" >Thêm vào giỏ</button>
                        </div>
                    </div>
                }
                <!-- .product-action end -->
                <!-- .product-share end -->
                <!-- .product-tabs end -->
                <!-- .row end -->
                <div class="product-related shop-categories">
                    <div class="product-related-title">
                        <h5>TIN LIÊN QUAN</h5>
                    </div>
                    <div class="row">
                        <!-- Product #1 -->
                        @foreach (var item in relatedProduct)
                        {
                            var url = "/chi-tiet/" + item.ProdID;
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="product-item">
                                    <div class="product--img">
                                        <img src="~/Assets/Data/Images/images/@item.ImageUrl" alt="Product" />
                                        <div class="product--hover">
                                            <div class="product--action">
                                                <a href="/them-gio-hang?productId=@item.ProdID&count=1">Add To Cart</a>
                                            </div>
                                        </div>
                                        <!-- .product-overlay end -->
                                    </div>
                                    <!-- .product-img end -->
                                    <div class="product--content">
                                        <div class="product--title">
                                            <h3><a href="@url">@item.ProdName</a></h3>
                                        </div>
                                        <!-- .product-title end -->
                                        <div class="product--price">
                                            <span>
                                                @String.Format(System.Globalization.CultureInfo.InvariantCulture,
     "{0:#,#}", item.Cost) VNĐ
                                            </span>
                                        </div>
                                        <!-- .product-price end -->
                                    </div>
                                    <!-- .product-bio end -->
                                </div>
                            </div>
                        }
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .product-related end  -->
            </div>
        </div>
    </div>
</section>


